@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

nav a:hover{
    text-decoration: none;
}

footer a:hover{
    text-decoration: none;
}

footer a{
    font-weight: 300;
}

.logoz img{
    width: 20%;
    margin-left: 70px;
}

.social img{
    width: 8%;
    margin-left: 30px;
}
.social li{
    display: inline;
}

.social{
    margin: 30px;
    text-align: center;
}

nav li{
    display: inline-block;
    font-size: 25px;
    padding-top: 10px;
}
nav{
    background-color: #7F8C96;
    padding: 10px;
}
nav a{
    font-weight: 300;
    color: #eeeeee;
    margin-left: 30px;
}

nav ul{
    text-align: center;
}

.h1-heading{
    text-align: center;
    margin-top: 20px;
    text-decoration: underline;
    color: #0e6890;
    font-weight: 300;
    text-decoration: none;
    margin-top: 50px;
}

.hero-image img{
    width: 100%;
}

.images-column{
    margin-top: 50px;
    margin-bottom: 80px;
}

.images-column h3{
    margin-left: 110px;
    margin-top: 20px;
    font-weight: 300;
    font-size: 22px;
}

.images-column a{
    text-decoration: none;
    color: black;
}

.images-column img{
    width: 60%;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 85px;
}

.footer-menu li{
    display: inline-block;
    margin-top: 20px;
}


.footer-menu a{
    color: #eeeeee;
    text-decoration: none;
    font-size: 25px;
    padding: 15px;
}

.footer-menu ul{
    text-align: center;
}

.footer-social img{
    width: 40px;
    margin-left: 20px;
}

.footer-social li{
    display: inline-block;
}

.footer-social ul{
    text-align: center;
}

footer{
    background-color: #15304E;
    height: 180px;
    width: 100%;
}

.copyright-text{
    color: #eeeeee;
    text-align: center;
}

.for-space{
    margin-top: 60px;
}

.about-flex-right img{
    margin-top: 50px;
    margin-bottom: 35px;
    width: 500px;
    margin-left: 40px;
    border-radius: 10px;
    box-shadow: 10px 10px 13px #ccc;
}

.about-flex p{
    text-align: justify;
    line-height: 30px;
}

.about-flex h1,h4,p{
    margin-left: 30px;
    padding-right: 30px;
    font-weight: 300;
}

.pink-left{
    background-color: #F2E7E9;
    height: 500px;
    padding: 50px;
    margin-bottom: 80px;
    margin-top: 50px;
}


.pink-left h1{
    margin-top: 30px;
    margin-left: 27px;
    text-align: justify;
    font-weight: 300;
}

.pink-left p{
    margin-left: 28px;
    text-align: justify;
}

.pink-right{
    background-color: #EED1D2;
    height: 500px;
    margin-top: 50px;
}


.pink-right p{
    padding-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
    line-height: 25px;
}

.pink-right h1{
    padding-top: 130px;
    text-align: center;
    font-weight: 300;
}

.contact-form input{
    padding: 5px;
    margin-bottom: 20px;
}

.message{
    margin-bottom: 20px;
    margin-top: 20px;
}

.contact-form label{
    font-size: 20px;
}

.contact-form li{
    list-style-type: none;
    line-height: 10px;
}

.contact-h1{
    font-weight: 300;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.contact-form textarea{
    margin-bottom: 20px;
}

.contact-form select{
    margin-left: 10px;
}

.contact-address h1{
    margin-top: 22px;
    font-weight: 300;
}

.contact-address h3{
    font-weight: 300;
}

.contact-map iframe{
    border-radius: 10px;
    margin-bottom: 30px;
}

.contact-map h1{
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 300;
}

.pro-detail img{
    margin-top: 30px;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 85px;
    margin-bottom: 30px;
}

.pp{
    margin-top: 30px;
    margin-left: 80px;
    font-weight: 300;
    margin-bottom: 10px;
    text-decoration: underline;
}

.product-right h3{
    font-weight: 200;
    line-height: 38px;
    font-size: 25px;
}

.product-right{
    margin-top: 110px;
}

.product-detail-line-height{
    padding: 50px;
    line-height: 30px;
    text-align: justify;
    font-weight: 300;
    font-size: 18px;
}

.space{
    margin-bottom: 20px;
}

.carousel img{

    height: 700px;
}

.error{
    padding-bottom: 20px;
    color: red;
}

.btnz {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-weight: 300;
    font-size: 18px;
    box-shadow: 5px 5px 8px #ccc;
  }

  @media only screen and (max-width: 768px) {
    .logoz{
        text-align: center;
    }
  }